*{
    box-sizing: border-box;
}

nav {
    position: absolute;
    display: inline-block;
    border: solid 2px red;
    width: 10%;
    height: auto;    
}

section {
    position: relative;
    display: inline-block;
    border: solid 2px orange;
    left: 10%;
    width: 100%;
    padding-left: 5px;
}
    
footer {
    border: solid 2px blue;
    position: fixed;
    width: 100%;
    bottom: 0%;
    text-align: center;
}